<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/home.css">
    <title>最新消息</title>
    <style>
        .dropdown-menu {
            min-width: 130px;
        }
    </style>
</head>

<body>
<div class="content">
    <!-- 头部 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-xs-10">
                <a class="navbar-brand" href="#">信用卡管理系统中心</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-2">
                <a href="#" class="col-xs-offset-6 btn" style="margin-top: 10px;">退出</a>
            </div>

        </div>

    </nav>
    <!-- 内容 -->
    <div class="row">
        <div class="col-xs-3 content-left">
            <div class="menu info-bar">
                <span class="glyphicon glyphicon-home text-primary"></span>
                <a href="#">银行最新信息</a>
            </div>
            <div class="menu">
                <div class="menu-title">
                    个人信息
                </div>
                <ul>
                    <li>
                        <a href="#">个人简介</a>
                    </li>
                    <li>
                        <a href="#">修改信息</a>
                    </li>
                    <li>
                        <a href="#">修改密码</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="menu-title">
                    <div>
                        信用卡管理
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#">我的信用卡</a>
                    </li>
                    <li>
                        <a href="#">信用卡申请</a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="menu-title">
                    <div>
                        我的账单
                    </div>
                    <ul>
                        <li>
                            <a href="#">交易明细</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu">
                <div class="menu-title">
                    <div>
                        还款管理
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#">还款信息</a>
                    </li>

                </ul>

            </div>
            <div class="menu">
                <div class="menu-title">
                    <div>
                        消费管理
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="#">消费明细</a>
                    </li>

                </ul>

            </div>
        </div>
        <div class="col-xs-9 content-right">
            <div class="con-rg-title">
                <h2>最新消息</h2>
            </div>
            <ul class="new-list">
                <li>
                    <a href="#">招商银行信用卡活动</a>
                    <time>2018/2/12</time>
                </li>
                <li>
                    <a href="#">信用卡利率下周上涨</a>
                    <time>2018/2/12</time>
                </li>
                <li>
                    <a href="#">一家银行不能有多张信用卡</a>
                    <time>2018/2/12</time>
                </li>
                <li>
                    <a href="#">中国银行白金卡购物特权</a>
                    <time>2018/2/12</time>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>

</html>