{% extends 'home/user-base.html' %}
{% block title %}
    更改密码
{% endblock %}
{% block style %}
    <style>
        .content-form {
            padding: 30px 0;
            margin: 60px auto 0;
            width: 500px;
            background: #eee;
            border-radius: 10px;
        }

        .form-row {
            margin: 10px;
        }

        .form-row > input:nth-child(1),
        .form-row > input:nth-child(2) {
            height: 34px;
            font-size: 14px;
            line-height: 1.42857;
            color: rgb(85, 85, 85);
            background-color: rgb(255, 255, 255);
            background-image: none;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
            padding: 6px 10px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
        }

        h1 {
            margin-bottom: 20px;
        }

        .text-right a {
            display: inline-block;
            text-decoration: none;
            margin-right: 20px;
        }

        .margin-top {
            margin-top: 6px;
            font-size: 16px;
        }

        .btn-width-margin {
            margin-top: 30px;
            width: 100px;

    </style>
{% endblock %}
{% block content %}
    <div class="content-form" style="width:600px">
        <h1 class="text-center text-primary">修改密码</h1>
        <form action="" method="post">
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">用户名</div>
                {#                <input class="col-xs-6" type="text" name="username" placeholder="用户名">#}
                {{ form.name }}
            </div>
            {% for err in form.name.errors %}
                <div class="form-row row text-center text-danger">{{ err }}</div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">旧密码</div>
                {#                <input class="col-xs-6" type="password" name="password" placeholder="输入密码">#}
                {{ form.old_pwd }}
            </div>
            {% for err in form.old_pwd.errors %}
                <div class="form-row row text-center text-danger">{{ err }}</div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">新密码</div>
                {#                <input class="col-xs-6" type="password" name="password2" placeholder="新密码">#}
                {{ form.new_pwd }}
            </div>
            {% for err in form.new_pwd.errors %}
                <div class="form-row row text-center text-danger">{{ err }}</div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right" style="padding-left:0px;">确认新密码</div>
                {#                <input class="col-xs-6" type="password" name="password3" placeholder="确认新密码">#}
                {{ form.new_pwd2 }}
            </div>
            {% for err in form.new_pwd2.errors %}
                <div class="form-row row text-center text-danger">{{ err }}</div>
            {% endfor %}
            <div class="form-row row">
                <div class="col-xs-offset-5">
                    {#                    <input type="submit" class="btn btn-primary btn-width-margin" value="提交">#}
                    {{ form.hidden_tag() }}
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}