{% extends 'home/user-base.html' %}
{% import 'UI/pagenation.html' as pg %}
{% block title %}
    主页
{% endblock %}
{% block style %}
    <style>
        .content-right .new-list li {
            margin: 15px 0;
            padding-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }

        .content-right .new-list li time {
            float: right;
        }
    </style>
{% endblock %}
{% block  content %}
    <div class="con-rg-title">
        <h2>最新消息</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>文章标题</th>
                <th>发布时间</th>

            </tr>
            </thead>
            <tbody>
            {% for v in newsInfo.items %}
                <tr>
                    <td><a href="{{ v.posturl }}">{{ v.title }}</a></td>
                    <td>
                        <time>{{ v.date }}</time>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="center-block">
        {{ pg.page(newsInfo,'admin.news_list') }}
    </div>
{% endblock %}