{% extends 'home/user-base.html' %}
{% block title %}
    我的信用卡
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>信用卡信息</h3>
    </div>
    {% if credit %}
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>卡号</th>
                <th>持卡人</th>
                <th>有效期</th>
                <th>余额</th>
                <th>额度</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{ credit.credit_id }}</td>
                <td>{{ credit.creditName }}</td>
                <td>{{ credit.vailDate }}</td>
                <td>{{ credit.overMoney }}</td>
                <td>{{ credit.limit }}</td>
                {% if credit.cdt_status==0 %}
                    <td>冻结</td>
                    <td>无</td>
                {% else %}
                    <td>正常</td>
                    <td><a href="{{ url_for('home.freeze_user',id=credit.id) }}" class="btn btn-primary btn-xs">挂失</a></td>
                {% endif %}
            </tr>
            </tbody>

        </table>
    {% else %}
        <div class="text-center text-primary" style="font-size: 22px;padding-top: 40px">
            您目前还没有信用卡
        </div>
    {% endif %}
</div>
{% endblock %}