{% extends 'home/user-base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block style %}
    <style>
        .content-right table tr {
            height: 40px;
            margin: 10px 0;
            padding: 10px 0;
            font-size: 16px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>个人简介</h3>
    </div>
    <h2 class="text-center text-primary">简介不完善去
        <a href="{{ url_for('home.add_user_info') }}" class="btn-primary btn text-default">编辑</a>吧</h2>
    <div style="margin-left: 100px">
        <table>
            <tr class="row">
                <td class="col-xs-2 text-right">姓名：</td>
                <td class="col-xs-3">{{ user.name }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">性别：</td>
                <td class="col-xs-3">
                    {% if user.sex==0 %}
                        女
                    {% else %}
                        男
                    {% endif %}
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">年龄：</td>
                <td class="col-xs-3">{{ user.age }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">邮箱：</td>
                <td class="col-xs-3">{{ user.email }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">职业：</td>
                <td class="col-xs-3">{{ user.job }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">身份证号码：</td>
                <td class="col-xs-3"> {{ user.idCard }} </td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">联系方式：</td>
                <td class="col-xs-3">{{ user.phone }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">地址：</td>
                <td class="col-xs-3">{{ user.address }}</td>
            </tr>
        </table>
    </div>

{% endblock %}

