<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>

<body>
<div class="content">
    <!-- 头部 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header col-xs-10">
                <a class="navbar-brand" href="{{ url_for('home.main',page=1) }}">信用卡管理系统中心</a>
            </div>
            <div class="col-xs-2">
                <a href="{{ url_for('home.login_out') }}" class="col-xs-offset-6 btn" style="margin-top: 10px;">退出</a>
            </div>
        </div>

    </nav>
    <!-- 内容 -->
    <div class="main">
        <div class="row">
            {#左边#}
            <div class="col-xs-3 content-left">
                <div class="menu info-bar">
                    <span class="glyphicon glyphicon-home text-primary"></span>
                    <a href="{{ url_for('home.main',page=1) }}">银行最新信息</a>
                </div>
                <div class="menu">
                    <div class="menu-title">
                        个人信息
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('home.user_info') }}">个人简介</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.add_user_info') }}">编辑简介</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.edit_pwd') }}">修改密码</a>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="menu-title">
                        <div>
                            信用卡管理
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('home.my_credit') }}">我的信用卡</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.apply_credit') }}">信用卡申请</a>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <div class="menu-title">
                        <div>
                            转账管理
                        </div>
                        <ul>
                            <li>
                                <a href="{{ url_for('home.deal_info',page=1) }}">转账明细</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-title">
                        <div>
                            还款管理
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('home.debt_info',page=1) }}">还款信息</a>
                        </li>

                    </ul>

                </div>
                <div class="menu">
                    <div class="menu-title">
                        <div>
                            消费管理
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{{ url_for('home.consume_info',page=1) }}">消费明细</a>
                        </li>

                    </ul>

                </div>
            </div>
            {#   右边#}
            <div class="col-xs-9 content-right">
                {#定义 内容接口#}
                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
    <!--底部-->
    <div class="footer">
        <p class="text-center">CreditCMS&nbsp;V1.0&nbsp;&nbsp; @copy 2018 by lianglong design</p>
    </div>
</div>

</body>

</html>