{% extends 'home/user-base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block style %}
    <style>
        .content-right table tr {
            height: 40px;
            margin: 10px 0;
            padding: 10px 0;
            font-size: 16px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>个人简介</h3>
    </div>
    <table>
        <tr class="row">
            <td class="col-xs-2 text-right">姓名：</td>
            <td class="col-xs-3">张三</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">性别：</tdcl>
            <td class="col-xs-3">男</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">年龄：</td>
            <td class="col-xs-3">28</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">邮箱：</td>
            <td class="col-xs-3">12345678@163.com</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">职业：</td>
            <td class="col-xs-3">程序员</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">身份证号码：</td>
            <td class="col-xs-3">342412188405197403</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">联系方式：</td>
            <td class="col-xs-3">13688886666</td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 text-right">地址：</td>
            <td class="col-xs-3">上海市浦东新区</td>
        </tr>
    </table>
{% endblock %}

