{% extends 'home/user-base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block style %}
    <style>
        .content-right table tr {
            height: 40px;
            margin: 10px 0;
            padding: 10px 0;
            font-size: 16px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>个人简介</h3>
    </div>
    {% if user==0 %}
        <h2 class="text-center text-primary">没有个人简介去
            <a href="{{ url_for('home.add_user_info') }}" class="btn-primary btn text-default">添加</a>吧</h2>
    {% else %}
        <table>
            <tr class="row">
                <td class="col-xs-2 text-right">姓名：</td>
                <td class="col-xs-3">{{ user.Info.name }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">性别：</td>
                <td class="col-xs-3">
                    {% if user.Info.sex==0 %}
                        女
                    {% else %}
                        男
                    {% endif %}
                </td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">年龄：</td>
                <td class="col-xs-3">{{ user.Info.age }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">邮箱：</td>
                <td class="col-xs-3">{{ user.Info.email }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">职业：</td>
                <td class="col-xs-3">{{ user.Info.job }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">身份证号码：</td>
                <td class="col-xs-3"> {{ user.Info.idCard }} </td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">联系方式：</td>
                <td class="col-xs-3">{{ user.Info.phone }}</td>
            </tr>
            <tr class="row">
                <td class="col-xs-2 text-right">地址：</td>
                <td class="col-xs-3">{{ user.Info.address }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

