{% extends 'admin/admin-base.html' %}
{% import 'UI/pagenation.html' as pg %}
{% block title %}
    账户信息
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>状态信息</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>卡号</th>
                <th>持卡人</th>
                <th>余额</th>
                <th>欠款</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for v in credit_data.items %}
                <tr>
                    <td>{{ v.credit_id }}</td>
                    <td>{{ v.creditName }}</td>
                    <td>{{ v.overMoney }}</td>
                    <td>2000测试数据</td>
                    {% if v.cdt_status==0 %}
                        <td>冻结</td>
                        <td>
                            <a href="{{ url_for('admin.recover_user',id=v.id) }}"
                               class="btn btn-primary btn-xs">恢复</a>
                        </td>
                    {% else %}
                        <td>正常</td>
                        <td>
                            <a href="{{ url_for('admin.freeze_user',id=v.id) }}"
                               class="btn btn-primary btn-xs">冻结</a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="center-block">
        {{ pg.page(credit_data,'admin.user_info') }}
    </div>
{% endblock %}