{% extends 'admin/admin-base.html' %}
{% block title %}
    添加银行最新信息
{% endblock %}
{% block style %}
    <style>

        .content-rg-con {
            padding: 30px 0;
            margin: 80px auto 0;
            width: 500px;
            background: #eee;
            border-radius: 10px;
        }

        .form-row {
            margin: 10px;
        }

        .form-row > input:nth-child(1),
        .form-row > input:nth-child(2) {
            height: 34px;
            font-size: 14px;
            line-height: 1.42857;
            color: rgb(85, 85, 85);
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
            padding: 6px 10px;
            border: 1px solid rgb(204, 204, 204);
        }

        h1 {
            margin-bottom: 20px;
        }

        .text-right a {
            display: inline-block;
            text-decoration: none;
            margin-right: 20px;
        }

        .margin-top {
            margin-top: 6px;
            font-size: 16px;
        }

        .btn-width-margin {
            margin-top: 30px;
            width: 100px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h2>银行信息列表</h2>
    </div>
    <div class="content-rg-con" style="width:600px">
        <form action="" method="post">
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">标题</div>
                {#                <input class="col-xs-6" type="text" name="newstitle" placeholder="输入文章标题">#}
                {{ form.title }}
            </div>

            {% for err in form.title.errors %}
                <div class="form-row row text-danger text-center">{{ err }}</div>
            {% endfor %}

            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">链接</div>
                {#                <input class="col-xs-6" type="text" name="newsurl" placeholder="输入链接">#}
                {{ form.url }}
            </div>
            {% for err in form.url.errors %}
                <div class="form-row row text-danger text-center">{{ err }}</div>
            {% endfor %}

            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">时间</div>
                {#                <input class="col-xs-6" type="date" name="arearagetime" placeholder="请输入时间">#}
                {{ form.newsDate }}
            </div>
            {% for err in form.newsDate.errors %}
                <div class="form-row row text-danger text-center">{{ err }}</div>
            {% endfor %}

            <div class="form-row row">
                <div class="col-xs-2 col-xs-offset-3">
{#                    <input type="submit" class="btn btn-primary btn-width-margin" value="添加">#}
                    {{ form.csrf_token }}
                    {{ form.submit }}
                </div>
                <div class="col-xs-5 col-xs-offset-2">
                    <input type="reset" class="btn btn-primary btn-width-margin" value="重置">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}

    <script type="text/javascript">

        //执行一个laydate实例
        laydate.render({
            elem: '#newsDate', //指定元素
            type: 'date'
        });

    </script>
{% endblock %}