{% extends 'admin/admin-base.html' %}
{% block title %}
    管理员信息
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>管理员信息</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>用户</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>user</td>
                <td>123456</td>
                <td><a href="{{ url_for('admin.change_pwd') }}" class="btn btn-primary btn-sm">修改密码</a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}