{% extends 'admin/admin-base.html' %}
{% block title %}
    信用卡申请列表
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>信用卡申请</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>申请人</th>
                <th>申请额度</th>
                <th>身份证号</th>
                <th>手机号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for v in list.items %}
                <tr>
                    <td>{{ v.name }}</td>
                    <td>{{ v.limit }}</td>
                    <td>{{ v.idcard }}</td>
                    <td>{{ v.phone }}</td>
                    <td><a href="{{ url_for('admin.add_credit') }}" class="btn btn-primary btn-xs">添加</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}