{% extends 'admin/admin-base.html' %}
{% block title %}
    信用卡申请列表
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>信用卡申请</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>申请人</th>
                <th>申请额度</th>
                <th>身份证号</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>张三</td>
                <td>10000</td>
                <td>3425198705162580</td>
                <td>18666668888</td>
                <td>123568@163.com</td>
                <td>上海市浦东新区张江软件园</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}