{% extends 'admin/admin-base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
    <style>
        .content-form {
            padding: 30px 0;
            margin: 60px auto 0;
            width: 500px;
            background: #eee;
            border-radius: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-form" style="width:600px">
        <h1 class="text-center text-primary">修改密码</h1>
        <form action="" method="post">
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">用户名</div>
                <input class="col-xs-6" type="text" name="username" placeholder="用户名">
            </div>
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">旧密码</div>
                <input class="col-xs-6" type="password" name="password" placeholder="输入密码">
            </div>
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right">新密码</div>
                <input class="col-xs-6" type="password" name="password2" placeholder="新密码">
            </div>
            <div class="form-row row">
                <div class="col-xs-2 margin-top col-xs-offset-2 text-right" style="padding-left:0px;">确认新密码</div>
                <input class="col-xs-6" type="password" name="password3" placeholder="确认新密码">
            </div>
            <div class="form-row row">
                <div class="col-xs-offset-5">
                    <input type="submit" class="btn btn-primary btn-width-margin" value="提交">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
