{% extends 'admin/admin-base.html' %}
{% block title %}
    消费信息
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>消费明细</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>卡号</th>
                <th>持卡人</th>
                <th>交易金额</th>
                <th>余额</th>
                <th>消费时间</th>
                <th>消费类型</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>6288256868852555685</td>
                <td>持卡人</td>
                <td>-1000</td>
                <td>10000</td>
                <td>2018-2-12</td>
                <td>购物</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}