{% extends 'admin/admin-base.html' %}
{% import 'UI/pagenation.html' as pg %}
{% block title %}
    账单信息
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>交易明细
            <div class="center-block pull-right">
                <form class="form-inline" method="post" action="{{ url_for('admin.search_deal',page=1) }}">
                    <div class="form-group">
                        <label class="sr-only" for="search">快速查找</label>
                        <input type="text" name="search-info" class="form-control" id="search" placeholder="卡号">
                    </div>
                    <button type="submit" class="btn btn-primary">查找</button>
                </form>
            </div>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>卡号</th>
                <th>持卡人</th>
                <th>金额</th>
                <th>类型</th>
                <th>余额</th>
                <th>时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for v in deals.items %}
                <tr>
                    <td>{{ v.Deal.credit_id }}</td>
                    <td>{{ v.Credit.creditName }}</td>
                    <td>{{ v.Deal.sum_money }}</td>
                    <td>{{ v.Deal.deal_type }}</td>
                    <td>{{ v.Credit.overMoney }}</td>
                    <td>{{ v.Deal.deal_date }}</td>
                    <td style="word-wrap:break-word">{{ v.Deal.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="center-block">
        {{ pg.page(deals,'admin.deal_info') }}
    </div>
{% endblock %}