<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
    <title>管理员登陆界面</title>
    <style>
        body{
            background-image: url({{ url_for('static',filename='images/bg2.png') }});
            -webkit-background-size: 100%;
            background-size: 100%;
            color: #f4f4f4;
        }
        .content{
             background-image: url({{ url_for('static',filename='images/login-bg.png') }});
            -webkit-background-size: 100%;
            background-size: 100%;
        }
    </style>
</head>

<body>
<div class="content">
    <h1 class="text-center">管理员登陆</h1>
    <form action="" method="post">
        <div class="form-row row">
            <div class="col-xs-2 margin-top col-xs-offset-2 text-right" style="color: #000">用户名</div>
            {#                <input class="col-xs-6" type="text" name="username" placeholder="用户名">#}
            {{ form.username }}
        </div>
        {% for err in form.username.errors %}
            <div class="form-row row text-danger text-center" >{{ err }}</div>
        {% endfor %}

        <div class="form-row row">
            <div class="col-xs-2 margin-top col-xs-offset-2 text-right" style="color: #000">密码</div>
            {#                <input class="col-xs-6" type="password" name="password" placeholder="输入密码">#}
            {{ form.password }}
        </div>
        {% for err in form.password.errors %}
            <div class="form-row row text-danger text-center">{{ err }}</div>
        {% endfor %}
        {% for msg in get_flashed_messages() %}
            <div class="form-row row text-danger text-center">{{ msg }}</div>
        {% endfor %}
        <div class="form-row row">
            <div class="col-xs-offset-5">
                {#                    <input type="submit" class="btn btn-primary" value="登陆" style="width:150px;" >#}
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </div>
        </div>
    </form>
</div>
</body>

</html>