{% extends 'admin/admin-base.html' %}
{% import 'UI/pagenation.html' as pg %}
{% block title %}
    账单信息
{% endblock %}
{% block content %}
    <div class="con-rg-title">
        <h3>查询结果</h3>
    </div>
    {% if deals %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>卡号</th>
                    <th>持卡人</th>
                    <th>金额</th>
                    <th>类型</th>
                    <th>余额</th>
                    <th>时间</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                {% for v in deals.items %}
                    <tr>
                        <td>{{ v.Deal.credit_id }}</td>
                        <td>{{ v.Credit.creditName }}</td>
                        <td>{{ v.Deal.sum_money }}</td>
                        <td>{{ v.Deal.deal_type }}</td>
                        <td>{{ v.Credit.overMoney }}</td>
                        <td>{{ v.Deal.deal_date }}</td>
                        <td style="word-wrap:break-word">{{ v.Deal.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <div class="center-block text-center text-primary" style="font-size: 20px;">没有查询到相关信息</div>
    {% endif %}

{% endblock %}